<div class="movies-container">
  <div class="movie">
    <div>{{movies[0].chosen?.chosenText}}</div>
    <div>
      <img [src]="movies[0].url" [alt]="movies[0].title">
    </div>
    <button [disabled]="voted && !movies[0].chosen?.isChosen" (click)="onVote($event,movies[0])">Vote</button>
  </div>
  <div class="movie">
    <div>{{movies[1].chosen?.chosenText}}</div>
    <div>
      <img [src]="movies[1].url" [alt]="movies[1].title">
    </div>
    <button [disabled]="voted  && !movies[1].chosen?.isChosen" (click)="onVote($event,movies[1])">Vote</button>
  </div>
  <div class="movie">
    <div>{{movies[2].chosen?.chosenText}}</div>
    <div>
      <img [src]="movies[2].url" [alt]="movies[2].title">
    </div>
    <button [disabled]="voted && !movies[2].chosen?.isChosen" (click)="onVote($event,movies[2])">Vote</button>
  </div>
  <div class="movie">
    <div>{{movies[3].chosen?.chosenText}}</div>
    <div>
      <img [src]="movies[3].url" [alt]="movies[3].title">
    </div>
    <button [disabled]="voted && !movies[3].chosen?.isChosen" (click)="onVote($event,movies[3])">Vote</button>
  </div>
  </div>