<div class="movies-container">
  <div class="movie">
    <div>{{movies[0].isChosen}}</div>
    <div>
      <img [src]="movies[0].url" [alt]="movies[0].title">
    </div>
    <button [disabled]="voted" (click)="onVote(movies[0])">Vote</button>
  </div>
  <div class="movie">
    <div>{{movies[1].isChosen}}</div>
    <div>
      <img [src]="movies[1].url" [alt]="movies[1].title">
    </div>
    <button [disabled]="voted" (click)="onVote(movies[1])">Vote</button>
  </div>
  <div class="movie">
    <div>{{movies[2].isChosen}}</div>
    <div>
      <img [src]="movies[2].url" [alt]="movies[2].title">
    </div>
    <button [disabled]="voted" (click)="onVote(movies[2])">Vote</button>
  </div>
  <div class="movie">
    <div>{{movies[3].isChosen}}</div>
    <div>
      <img [src]="movies[3].url" [alt]="movies[3].title">
    </div>
    <button [disabled]="voted" (click)="onVote(movies[3])">Vote</button>
  </div>
  

</div>